@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
*{
  font-family: 'Noto Sans', sans-serif;
   /* cursor: url('../src/assets/ojo-abierto.png'),auto; */
   /* cursor: url('../src/assets/ojo-con-pestanas.png'),auto; */
   /* cursor: url('../src/assets/buscando.png'),auto; */
   /* cursor: url('../src/assets/ojo.png'),auto; */
}
/* https://www.flaticon.es/resultados?word=ojo */

@media (max-width: 767px) {
  body {
    width: 100vh;
  }
  .imgPageDetails{
    position: relative;
    margin-left: 200px;
    width: 380px;
  } 
}

.card-box:hover .card-menu
{
width:100%;
opacity: 1;
left: 0;
transition: all 0.2s ease-in-out;  
}

img.img-favorite{
  fill: none;
}
.App {
  text-align: center;
  font-family: sans-serif;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 40px 20px 20px 20px;
  cursor: pointer;
}

.image-preview {
  display: inline-block;
  margin: 10px;
}
.transparent{
  opacity: 0;
  width: 100%;
  height: 100%;
}
span.link{
  color:blue
}